* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  opacity: 0.2;
  z-index: -2;
  background-size: contain;
  background-image: url(../pic/travel_pattern.jpg);
}

.container {
  width: min(100% - 40px, 1280px);
  margin-inline: auto;
  contain: content;
}

.slide:nth-of-type(1) {
  background-image: url(../pic/pic_1.png);
}

.slide:nth-of-type(2) {
  background-image: url(../pic/pic_2.png);
}

.slide:nth-of-type(3) {
  background-image: url(../pic/pic_3.png);
}

.slide:nth-of-type(4) {
  background-image: url(../pic/pic_4.png);
}

.slide:nth-of-type(5) {
  background-image: url(../pic/pic_5.png);
}

.slide:nth-of-type(6) {
  background-image: url(../pic/pic_6.png);
}

.slide:nth-of-type(7) {
  background-image: url(../pic/pic_7.png);
}

.slide:nth-of-type(8) {
  background-image: url(../pic/pic_8.png);
}

.slide:nth-of-type(9) {
  background-image: url(../pic/pic_9.png);
}

.slide:nth-of-type(10) {
  background-image: url(../pic/pic_10.png);
}

.slides {
  align-items: stretch;
  position: relative;
  display: flex;
  justify-content: center;
  height: 250px;
  width: 300px;
  box-sizing: border-box;
}

.slide {
  background-size: contain;
  height: 250px;
  width: 300px;
  box-sizing: border-box;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.active {
  opacity: 1;
  z-index: 0;
}

.controls {
  position: absolute;
  display: inline-flex;
}

.control {
  padding: 0.25em 0.5em;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
}

.controls_container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  position: absolute;
}

.list_item.active {
  color: rgb(44, 143, 173);
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.list_item {
  text-align: center;
}

.topic {
  font-size: 27px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel_pictures {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.footer {
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-prev {
  padding: 115px 40px;
}

.control-prev:hover {
  color: palevioletred;
}

.control-next {
  padding: 115px 40px;
}

.control-next:hover {
  color: palevioletred;
}

.control-pause {
  padding: 115px 115px;
}